// COLORS
$color-primary: #2a2b2f;
$color-primary-light: #363a3b;


// $color-secondary: ;
$color-secondary: #b05f30;

// $color-tertiary: ;
$color-tertiary: #e7d7c7;


// FONT
$default-font-size: 1.6rem;
