.arrow-box{
  display: flex;
  justify-content: center;
  border: 3px solid $color-tertiary;
  align-items: center;
  width: 7.9rem;
  height: 7.9rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;

  @include respond(sm-phone){
    width: 3.5rem;
    height: 3.75rem;
    border-width: 2px;
  }

  &:hover{
    cursor: pointer;
  }  
}

.arrow--white{
  border-color: #fff;
  
  & > .arrow-icon{
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(19%) hue-rotate(336deg) brightness(106%) contrast(100%);
  }
}

.arrow-icon{

  @include respond(sm-phone){
    width: 1.25rem;
  }
}
