.section-projects{
  margin: 0 10rem 18.3rem;

  @include respond(phone){
    margin: 0 3.25rem 10.84rem 3.25rem;
  }

  @include respond(sm-phone){
    margin-bottom: 9.84rem;
  }

  &__heading-box{
    text-align: center;
    margin-bottom: 4rem;
  }

  &__gallery-container{
    max-width: 123.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 0;
  }

  &__image{
    max-width: 100%;
    height: auto;
  }
}
