.section-testimonials{
  margin: 0 10.4rem 17.8rem;
  
  &__heading{
    text-align: center;
    margin-bottom: 7rem;
  }
  
  @include respond(phone){
    margin: 0 3.625rem 12.625rem;

    &__heading{
      text-align: center;
      margin-bottom: 4.75rem;
    }
  }
}
