*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;  // 1 rem = 10px; 10px/16px * 100
  
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12px/16px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // // 1rem = 9px; 9px/16px
  }
  
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8px/16px
  }
  
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
}
