body{
  font-family: 'Poppins', sans-serif;
}

.heading{

  &-primary,
  &-tertiary{
    font-family: 'Playfair Display', serif;
  }

  &-primary{
    font-size: 4rem;
    font-weight: 400;

    @include respond(tab-land){
      font-size: 3rem;
    }

    @include respond(tab-port){
      font-size: 3.5em;
    }

    @include respond(phone){
      font-size: 4rem;
    }

    @include respond(sm-phone){
      font-size: 3rem;
    }
  }

  &-secondary{
    color: $color-secondary;
    font-size: 2.4rem;

    @include respond(tab-port){
      font-size: 2.5rem;
    }

    @include respond(sm-phone){
      font-size: 1.5rem;
    }
  }
  
  &-tertiary{
    font-size: 3.2rem;
    font-weight: 400;
    
    @include respond(tab-port){
      font-size: 3rem;
    }

    @include respond(sm-phone){
      font-size: 2rem;
    }
  }
}

.paragraph{
  font-size: 1.6rem;

  @include respond(tab-port){
    font-size: 1.75rem;
  }

  @include respond(sm-phone){
    font-size: 1.5rem;
  }
}
