body{
  font-family: 'Poppins', sans-serif;
}

.heading{

  &-primary,
  &-tertiary{
    font-family: 'Playfair Display', serif;
  }

  &-primary{
    font-size: 4rem;
    font-weight: 400;
  }

  &-secondary{
  }

  &-tertiary{
  }
}

.header__paragraph{
  font-size: 1.6rem;
}
