.footer {
  display: grid;
  grid-template-areas: 'lg ul c fu';
  background-color: $color-primary-light;
  justify-content: space-between;
  padding: 8.7rem 10.1rem 7.9rem 12.3rem;
  color: white;
  row-gap: 3.9rem;
  font-size: 2.4rem;
  
  @include respond(tab-land){
    grid-template-areas: 'lg ul c' 'fu fu fu';
  }
  
  @include respond(tab-port){
    grid-template-areas: 'lg ul' 'c fu';
  }
  
  @include respond(phone){
    grid-template-areas: 'lg' 'ul' 'c' 'fu';
    justify-content: center;
    font-size: 2rem;
    padding: 3.2rem 0 2.6rem 0;
    padding-right: 0;
  }

  &__logo-box,
  &__links-box,
  &__contact-box,
  &__social-box {
    display: flex;
    flex-direction: column;

    @include respond(phone){
      text-align: center;
    }
  }

  &__logo {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    
    @include respond(phone){
      margin-bottom: .6rem;
    }
  }

  &__link,
  &__contact{
    margin-bottom: 1.7rem;

    &:not(:last-child){
      @include respond(phone){
        margin-bottom: 1.6rem;
      }
    }
  }

  &__head {
    color: $color-secondary;
    margin-bottom: 2.9rem;
    font-weight: 600;

    @include respond(phone){
      margin-bottom: 1.8rem;
    }
  }

  &__icons-box{
    display: flex;
    margin: 0 auto;
  }

  &__icon-box{
    border: 2px solid $color-secondary;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    padding: 1rem;

    &:not(:last-child){
      margin-right: 1.5rem;
    }

    @include respond(phone){
      width: 4.625rem;
      height: 4.625rem;
    }
  }
  
  &__icon {
    height: 2.9rem;

    @include respond(phone){
      height: 1.875rem;
    }
  }
}
