.header{
  display: flex;
  justify-content: center;
  margin: 4.6rem 6.6rem 16.7rem 13.9rem;
  
  @include respond(tab-land){
    align-items: center;
  }
  
  @include respond(tab-port){
    margin-left: 7rem;
  }
  
  @include respond(phone){
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 4.5rem 2.65rem 7rem 3.125rem;
  }

  &__text-box{
    max-width: 36.5rem;
    margin: 12.3rem 5.8rem 0 0;

    @include respond(tab-land){
      margin-top: 0;
    }

    @include respond(phone){
      margin-top: 4.5rem;
    }
  }
  
  &__paragraph{
    margin: 3rem 0 6.1rem;
    
    @include respond(tab-land){
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    
    @include respond(tab-port){
      margin-top: 2.125rem;
      margin-bottom: 2.5rem;
      width: 29rem;
    }

    @include respond(sm-phone){
      width: 27rem;
    }
  }

  &__gallery{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 75rem;
  }

  &__image-box{
    animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    flex: 0 1 33%;

    &--2{
      animation-delay: .5s;
    }

    &--3{
      animation-delay: .8s;
    }

    &:nth-child(2){
      margin: 0 2.2rem;

      @include respond(sm-phone){
        margin: 0 1.12rem;
      }
    }
  }

  &__image{
    max-width: 100%;
    object-fit: cover;
  }
}
