.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 9rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.05);

  .logo{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: $color-primary;
  }
}

.burger-container{
  .burger{
    width: 2rem;
    height: 2rem;
    position: fixed;
    // top: 1.5rem;
    right: 2rem;
    z-index: 1000;
    display: none;
  
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;    
    }
  }
  
  .bar{
    width: 2rem;
    height: 0.25rem;
    border-radius: 100px;
    transform-origin: 1px;
    transition: all 0.3s linear;
  
    &-open{
      &:nth-child(1){
        transform: rotate(45deg);
      }
      &:nth-child(2){
        transform: translateX(100%);
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg);
      }
    }
  
  &-close{
    &:nth-child(1){
      transform: rotate(0);
    }
    &:nth-child(2){
      transform: translateX(0);
        opacity: 1;
    } 
    &:nth-child(2){
        transform: rotate(0);
    }
    }
  
    &-open--color{
      background-color: $color-secondary;
    }
    &-close--color{
      background-color: #333;
    }
  }

  .nav-list{
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.6rem;
    font-weight: 500;
    // font-size: 1.2em;
    // margin: 20px 0;

    &__item{
      list-style: none;
      text-decoration: none;
      
      &:not(:last-child){
        margin-right: 2.5rem;
      }
    }

    &__link{
      text-decoration: none;

      &:link,
      &:visited{
        color: $color-primary;
      }

      &:hover,
      &:active{
        text-decoration: underline;
      }
    }

    @media (max-width: 768px) {
    
      align-items: center;
      flex-flow: column nowrap;
      background-color: $color-tertiary;
      position: fixed;
      top: -2rem;
      right: 0;
      height: 100vh;
      width: 300px;
      padding-top: 3.5rem;
      transition: transform 0.3s ease-in-out;
  
      &--open{
        transform: translateX(0);
      }
    
      &--close{
        transform: translateX(100%);
      }
    }
  }
}